:root {
    box-sizing: border-box;
    --blue: rgb(141, 176, 194);
    --dark-blue: rgb(32, 84, 110);
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blue);
    margin: 0;
    height: 10vh;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar li a {
    color: white;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

h1 {
    color: var(--dark-blue)
}

.container {
    display: flex;
    align-items: center;
    height: 90vh;
    background-image: linear-gradient(#fff,  var(--blue));
    padding: 0 10vh;
}

.left-body {
    width: 75%;
}

.description {
    color: var(--dark-blue);
}

h1 {
    font-family: "Caveat", cursive;
    font-size: 4rem;
}

img {
    display: block;
    width: 30%;
    border-radius: 100%;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.github-btn {
    display: flex;
    width: 10rem;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    align-items: center;
    justify-content: space-evenly;
    color: black;

}

.github-container {
    justify-self: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}